html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9697c;
}

body {
    min-height: 100%;
}

.container {
    width: 640px;
    height: 640px;
    background-color: #fff;
    display: flex;
    flex-flow: column wrap;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    box-sizing: border-box;
    flex: 1;
    border: #e9697c 1px solid;
}