html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e9697c;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    min-height: 100%;
}

.btn, .reset{
    width: 150px;
    padding: 20px;
    background-color: #e9697c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    border-radius: 15px;
    border: ridge #fff 3px;
}

.container {
    width: 940px;
    height: 940px;
    background-color: #fff;
    display: flex;
    flex-flow: column wrap;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    box-sizing: border-box;
    flex: 1;
    border: #e9697c 1px solid;
    opacity: 0;
}